@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  background-color: rgb(211, 211, 211);
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif !important;
  letter-spacing: 0.1em;
  font-size: smaller;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}
.App {
  background-color: #343534;
  color: rgb(211, 211, 211);
  height: 100%;
  padding-bottom: 10vh;
}
